/*
* @Author: linjinjin
* @Date:   2016-03-23 18:24:39
* @Last Modified by:   linjinjin123
* @Last Modified time: 2016-05-08 20:42:20
*/


#window {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width:500px;
    padding: 8px 0;
}

/*-------------------------------------------------*/
/*
.verticallegend {
    transform: rotate(-45deg);
    transform-origin: left top 0;
    white-space: nowrap;
    font-size: 0.8em;
}
*/
/*table {
    table-layout: fixed;
    width: 50px;
    margin-left: auto;
}

table td {
    table-layout: fixed;
    width: 70px;
    text-align: center;
}*/

.blueBG {
	background-color: #0070C0;
}

.redBG {
	background-color: #C00000;
}

.grayBG {
	background-color: gray;
}

.greenBG {
	background-color: green;
}

.circle {
	text-align: center;
    display: inline-block;
    /*margin-left: 50px;*/

    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.circleBar {
	/*display: inline-block;*/
	/*text-align: right;*/
	float: right;
	/*width: 40%;*/
/*	text-align: center;*/
}

.circleBox {
	display: inline-block;
	width: 70px;
	text-align: center;
}

#heatmap-table {
	padding: 20px !important;
}

.nav-list {
	padding-right: 0px !important;
}

table.tree-toggler {
	width: 100%;
	cursor: pointer;
}

.heatmap-row {
	border-bottom: solid 1px #d4d4d4;
}

.heatmap-columns {
	table-layout: fixed;
    margin-left: auto;
}

.heatmap-column {
	width: 70px;
	text-align: center;
}