/*
* @Author: linjinjin
* @Date:   2016-03-23 18:24:39
* @Last Modified by:   linjinjin123
* @Last Modified time: 2016-05-06 20:34:16
*/


#window {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width:500px;
    padding: 8px 0;
}

/*-------------------------------------------------*/

.verticallegend {
    transform: rotate(-45deg);
    transform-origin: left top 0;
    white-space: nowrap;
    font-size: 0.8em;
}

table {
    table-layout: fixed;
    width: 50px;
    margin-left: auto;
}

table td {
    table-layout: fixed;
    width: 20px;
}

.blueBG {
	background-color: #0070C0;
}

.redBG {
	background-color: #C00000;
}

.grayBG {
	background-color: gray;
}

.greenBG {
	background-color: green;
}

.circle {
    display: inline-block;
    margin: 5px;

    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.circleBar {
	float: right;
}

#heatmap-table {
	padding-right: 20px !important;
}

.nav-list {
	padding-right: 0px !important;
}

