html
  head
    title Heatmap table
    link(type="text/css", rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/codemirror.min.css")
    link(type="text/css", rel="stylesheet", href="../dist/heatmap-table.css")
    link(type="text/css", rel="stylesheet", href="../vendor/jquery.typeahead.min.css")

    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/codemirror.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/mode/javascript/javascript.min.js")
    script(type="text/javascript", src="../dist/heatmap-table-vendor.js")
    script(type="text/javascript", src="../vendor/jquery.typeahead.min.js")
    script(type="text/javascript", src="../dist/heatmap-table.js")
  body
    block content
