<div class="heatmap-body">
    <div style="overflow:hidden">
        <div style="overflow:hidden">
            <div class="pull-right">
                {{heatmapCreateHeader}}
            </div>
        </div>
    </div>

</div>