{{#each children}}
<li>
    <div class="heatmap-row">
        <p class="heatmap-rowLabel tree-toggler">
            {{#createIcon this}}
            {{/createIcon}}
            <span class="rowLabel">{{{rowLabel}}}</span>
            <span><a href="{{linkURL}}" target="_blank">{{linkLabel}}</a></span>
        </p>
        <div class="pull-right">
            {{#each values}}
                {{showValue this}}
            {{/each}}
        </div>
    </div>
    <ul class="tree heatmap-closed">
        {{#if detailData}}
            <div class="heatmap-detail">
                {{#each detailData}}
                    <div>
                    {{addDetail this}}
                    </div>
                {{/each}}
            </div>
        {{/if}}
        {{#if children}}
            {{> create-children}}
        {{/if}}
    </ul>
</li>
{{/each}}
