<div class="col-md-5">
    <div class="input-group">
        <input type="text" class="heatmap-filterByRowName-input form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default heatmap-filterByRowName-search" type="button">Search</button>
        </span>
    </div>
</div>
<button class="btn btn-default heatmap-reset-btn">Reset</button>
<button class="btn btn-default heatmap-collapseAll-btn">CollapseAll</button>
<button class="btn btn-default heatmap-expandAll-btn">ExpandAll</button>
<div class="heatmap-body">
    <div style="overflow:hidden">
        <div style="overflow:hidden">
            <div class="pull-right">
                {{#each headerGroups}}
                    {{#createHeaderGroups this}}
                        <div class="heatmap-group {{columnClass}}" style="width: {{groupWidth}}">
                            {{groupName}}
                        </div>
                    {{/createHeaderGroups}}
                {{/each}}
            </div>
        </div>
        <div style="overflow:hidden">
            <div class="pull-right">
                {{#each header}}
                    {{#createHeader this}}
                        <div class="heatmap-column {{columnClass}}" style="width: {{columnWidth}}">
                            {{columnName}}
                        </div>
                    {{/createHeader}}
                {{/each}}
            </div>
        </div>
    </div>
    <ul class="tree heatmap-ul heatmap-rows">
    </ul>
</div>