<div class="col-md-5">
    <div class="input-group">
        <input type="text" class="form-control heatmap-filterByRowName-input" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default heatmap-filterByRowName-search" type="button">Search</button>
        </span>
    </div>
</div>
<button class="btn btn-default heatmap-reset-btn">Reset</button>
<button class="btn btn-default heatmap-collapseAll-btn">CollapseAll</button>
<button class="btn btn-default heatmap-expandAll-btn">ExpandAll</button>
<p class="heatmap-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</p>