#table-2-columns {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 20px;
}

#table-2-columns>div>div {}

.col-header {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    text-align: center
}

#table-2-columns p {
    background-color: #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    /*text-align: center*/
}

#table-2-columns>div {
    padding: 0px;
}